/* Header */
  .header {
    flex: 0 0 auto;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-name {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-left: 2vw;
  }
  .header-menu {
    gap: 1.5vw;
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-right: 2vw;
  }
  /* Header-End */
